## <font color=green>Tipos de dados</font>
***

In [3]:
import pandas as pd

In [4]:
dados = pd.read_csv('supermarket_sales.csv')

In [5]:
dados.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

## Variáveis:

**Invoice id (Id da fatura):** número de identificação da fatura gerada por computador da fatura

**Branch (Filial):** Filial do supercentro (estão disponíveis 3 filiais identificadas por A, B e C)

**City (Cidade):** localização dos supercentros

**Customer type (Tipo de cliente):** tipo de clientes, registrado por Membros para clientes que usam cartão de membro e Normal para sem cartão de membro.

**Gender (Sexo):** Sexo do cliente

**Product line (Linha de produtos):** Grupos gerais de categorização de itens - Acessórios eletrônicos, Acessórios de moda, Alimentos e bebidas, Saúde e beleza, Casa e estilo de vida, Esportes e viagens

**Unit price (Preço unitário):** preço de cada produto em $

**Quantity (Quantidade):** número de produtos comprados pelo cliente

**Tax (Imposto):** taxa de imposto de 5% para a compra do cliente

**Total:** preço total incluindo impostos

**Date (Data):** Data da compra (registro disponível de janeiro de 2019 a março de 2019)

**Time (Hora):** Hora da compra (das 10h às 21h)

**Payment (Pagamento):** Pagamento usado pelo cliente para compra (estão disponíveis três métodos - Dinheiro, cartão de crédito e Ewallet)

**COGS (CPV):** custo dos produtos vendidos

**Gross margin percentage (Porcentagem da margem bruta):** Porcentagem da margem bruta

**Gross income (Renda bruta):** Renda bruta

**Rating (Classificação):** classificação de estratificação do cliente em sua experiência geral de compra (em uma escala de 1 a 10)

***

### Variáveis qualitativas ordinais

► Variáveis que podem ser ordenadas ou hierarquizardas

In [5]:
sorted(dados['Rating'].unique())

[4.0,
 4.1,
 4.2,
 4.3,
 4.4,
 4.5,
 4.6,
 4.7,
 4.8,
 4.9,
 5.0,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 5.8,
 5.9,
 6.0,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 6.7,
 6.8,
 6.9,
 7.0,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 7.7,
 7.8,
 7.9,
 8.0,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 8.7,
 8.8,
 8.9,
 9.0,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 9.7,
 9.8,
 9.9,
 10.0]

### Variáveis qualitativas nominais

► Variáveis que NÃO podem ser ordenadas ou hierarquizardas

In [6]:
sorted(dados['Branch'].unique())

['A', 'B', 'C']

In [7]:
sorted(dados['Gender'].unique())

['Female', 'Male']

In [8]:
sorted(dados['Payment'].unique())

['Cash', 'Credit card', 'Ewallet']

### Variáveis quantitativas discretas

► Variáveis que representam uma contagem onde os valores possíveis formam um conjunto finito ou enumerável.

In [12]:
dados['Quantity']

0       7
1       5
2       7
3       8
4       7
5       7
6       6
7      10
8       2
9       3
10      4
11      4
12      5
13     10
14     10
15      6
16      7
17      6
18      3
19      2
20      5
21      3
22      2
23      5
24      3
25      8
26      1
27      2
28      5
29      9
       ..
970    10
971     7
972     7
973     3
974     2
975     2
976     4
977     6
978     1
979     1
980     4
981     4
982     9
983     7
984     7
985     5
986     2
987     8
988    10
989     8
990     5
991    10
992     2
993    10
994     1
995     1
996    10
997     1
998     1
999     7
Name: Quantity, Length: 1000, dtype: int64

#### <font color='red'>Observação</font>
***
> A variável idade pode ser classificada de três formas distintas:
> 1. <b>QUANTITATIVA DISCRETA</b> - quando representa anos completos (números inteiros);
> 2. <b>QUANTITATIVA CONTÍNUA</b> - quando representa a idade exata, sendo representado por frações de anos; e
> 3. <b>QUALITATIVA ORDINAL</b> - quando representa faixas de idade.

### Variáveis quantitativas contínuas

► Variáveis que representam uma contagem ou mensuração que assumem valores em uma escala contínua (números reais).

In [11]:
print('Preço unitário de %s até %s dólares' % (dados['Unit price'].min(), dados['Unit price'].max()))

Preço unitário de 10.08 até 99.96 dólares