# <font color=green>classes de amplitude fixa</font>
***

## <font color=green>4.1 Média</font>

In [2]:
import pandas as pd
import numpy as np

In [3]:
dados = pd.read_csv('dados.csv')

### <font color='green'> Passo 1 - Definir número de classes </font>

regra de sturges k= 1+ 10/3 *log N
onde n é a quantidade de amostras(vulgo shape) e k é a quantidade de classes.

In [4]:
n = dados.shape[0]

In [5]:
k = 1 + (10/3) * np.log10(dados.shape[0])
k = int(k.round(0))

### Passo 2  - Criar tabelas de frequência

In [6]:
freq_abs = pd.value_counts(pd.cut(x = dados.Renda, bins = k, include_lowest = True), sort = False)
freq_abs

(-200.001, 11764.706]       75594
(11764.706, 23529.412]       1022
(23529.412, 35294.118]        169
(35294.118, 47058.824]         19
(47058.824, 58823.529]         16
(58823.529, 70588.235]          5
(70588.235, 82352.941]          4
(82352.941, 94117.647]          1
(94117.647, 105882.353]         6
(105882.353, 117647.059]        0
(117647.059, 129411.765]        1
(129411.765, 141176.471]        0
(141176.471, 152941.176]        0
(152941.176, 164705.882]        0
(164705.882, 176470.588]        0
(176470.588, 188235.294]        0
(188235.294, 200000.0]          3
Name: Renda, dtype: int64

In [10]:
freq_pct = pd.value_counts(pd.cut(x = dados.Renda, bins = k, include_lowest = True), sort = False, normalize = True) * 100
freq_pct

(-200.001, 11764.706]       98.378449
(11764.706, 23529.412]       1.330036
(23529.412, 35294.118]       0.219938
(35294.118, 47058.824]       0.024727
(47058.824, 58823.529]       0.020822
(58823.529, 70588.235]       0.006507
(70588.235, 82352.941]       0.005206
(82352.941, 94117.647]       0.001301
(94117.647, 105882.353]      0.007808
(105882.353, 117647.059]     0.000000
(117647.059, 129411.765]     0.001301
(129411.765, 141176.471]     0.000000
(141176.471, 152941.176]     0.000000
(152941.176, 164705.882]     0.000000
(164705.882, 176470.588]     0.000000
(176470.588, 188235.294]     0.000000
(188235.294, 200000.0]       0.003904
Name: Renda, dtype: float64

In [11]:
dist_freq_qtd_amp_fixa = pd.DataFrame({'Freq':freq_abs, 'Pct(%):':freq_pct})
dist_freq_qtd_amp_fixa

                           Freq    Pct(%):
(-200.001, 11764.706]     75594  98.378449
(11764.706, 23529.412]     1022   1.330036
(23529.412, 35294.118]      169   0.219938
(35294.118, 47058.824]       19   0.024727
(47058.824, 58823.529]       16   0.020822
(58823.529, 70588.235]        5   0.006507
(70588.235, 82352.941]        4   0.005206
(82352.941, 94117.647]        1   0.001301
(94117.647, 105882.353]       6   0.007808
(105882.353, 117647.059]      0   0.000000
(117647.059, 129411.765]      1   0.001301
(129411.765, 141176.471]      0   0.000000
(141176.471, 152941.176]      0   0.000000
(152941.176, 164705.882]      0   0.000000
(164705.882, 176470.588]      0   0.000000
(176470.588, 188235.294]      0   0.000000
(188235.294, 200000.0]        3   0.003904