# <font color=green>4 Medidas de Tendência Central</font>
***

## <font color=green>4.1 Média</font>

In [1]:
import pandas as pd

In [2]:
alunos = ['Maria', 'Pedro', 'João', 'Ana', 'Paulo']

In [3]:
df = pd.DataFrame(index = alunos)
df

Empty DataFrame
Columns: []
Index: [Maria, Pedro, João, Ana, Paulo]

In [4]:
df['MTM']= [6, 8, 5, 9, 7]
#df['MTM'].mean()

In [5]:
df['PT'] = [7, 5, 9, 6, 4]
df

       MTM  PT
Maria    6   7
Pedro    8   5
João     5   9
Ana      9   6
Paulo    7   4

In [6]:
df['MTM'].mean()

7.0

In [7]:
dados = pd.read_csv('dados.csv')

## Outro dataset

In [8]:
dados['Renda'].mean()

2000.3831988547631

In [9]:
dados.groupby(['Sexo'])['Renda'].mean()

Sexo
0    2192.441596
1    1566.847393
Name: Renda, dtype: float64

In [11]:
adf = pd.DataFrame()
adf['Sexo'] = dados['Sexo']
adf['Renda'] = dados['Renda']

## Mediana

In [12]:
df['MTM'].median()

7.0

In [13]:
df['ING'] = [5,6,4,4,10]
df

       MTM  PT  ING
Maria    6   7    5
Pedro    8   5    6
João     5   9    4
Ana      9   6    4
Paulo    7   4   10

In [14]:
df['ING'].mean()
df['ING'].median()
df['ING'].mode()[0]

4