## MÃ©todo 2 
https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html
***

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('/opt/google/drive/dados_pnad.csv')

In [ ]:
freq = pd.crosstab(dados.Sexo, dados.Cor)
freq

Cor     0      2     4    6      8
Sexo
0     256  22194  5502  235  25063
1     101   9621  2889  117  10862

In [ ]:
pct = pd.crosstab(dados.Sexo, dados.Cor, normalize = True) * 100
pct

Cor          0          2         4         6          8
Sexo
0     0.333160  28.883394  7.160333  0.305830  32.617126
1     0.131442  12.520822  3.759761  0.152264  14.135867

In [ ]:
sexo = {0: 'Masc', 1: 'Fem'}
cor = {0: 'ind', 2: 'branco', 4: 'preto',6: 'amarelo',8: 'parda',9: 'sem declaracao'}

In [ ]:
freq.rename(index = sexo, inplace = True)
freq.rename(columns = cor, inplace = True)
freq

Cor   ind  branco  preto  amarelo  parda
Sexo
Masc  256   22194   5502      235  25063
Fem   101    9621   2889      117  10862

In [ ]:
pct.rename(index = sexo, inplace = True)
pct.rename(columns = cor, inplace = True)
pct

Cor        ind     branco     preto   amarelo      parda
Sexo
Masc  0.333160  28.883394  7.160333  0.305830  32.617126
Fem   0.131442  12.520822  3.759761  0.152264  14.135867

In [ ]:
combinacao = pd.crosstab(dados.Sexo, dados.Cor, aggfunc= 'mean', values = dados.Renda)
combinacao.rename(index = sexo, inplace = True)
combinacao.rename(columns = cor, inplace = True)
combinacao

Cor           ind       branco        preto      amarelo        parda
Sexo
Masc  1081.710938  2925.744435  1603.861687  4758.251064  1659.577425
Fem   2464.386139  2109.866750  1134.596400  3027.341880  1176.758516

In [3]:
import numpy as pd

In [5]:
n = dados.shape[0]
n

76840