# Aula 03 - Manipula√ß√£o dos dados

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
plt.style.use('seaborn-whitegrid')
plt.rc('text', usetex=True)
plt.rc('font', family='times')
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)
plt.rc('font', size=12)

In [ ]:
!pip install latex

## Leitura de dados tabulares

In [ ]:
!cat files/educ_figdp_1_Data.csv

In [2]:
edu = pd.read_csv('educ_figdp_1_Data.csv',
                  na_values=':', usecols=['TIME', 'GEO', 'Value'])
edu

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
..    ...                            ...    ...
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[384 rows x 3 columns]

## Visualiza√ß√£o dos dados

In [3]:
edu.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

In [ ]:
edu.tail()

In [ ]:
edu.columns

In [4]:
edu.index

RangeIndex(start=0, stop=384, step=1)

In [5]:
edu.values

array([[2000, 'European Union (28 countries)', nan],
       [2001, 'European Union (28 countries)', nan],
       [2002, 'European Union (28 countries)', 5.0],
       ...,
       [2009, 'Finland', 6.81],
       [2010, 'Finland', 6.85],
       [2011, 'Finland', 6.76]], dtype=object)

In [6]:
edu.describe()

              TIME       Value
count   384.000000  361.000000
mean   2005.500000    5.203989
std       3.456556    1.021694
min    2000.000000    2.880000
25%    2002.750000    4.620000
50%    2005.500000    5.060000
75%    2008.250000    5.660000
max    2011.000000    8.810000

## Sele√ß√£o

In [7]:
edu['Value']

0       NaN
1       NaN
2      5.00
3      5.03
4      4.95
       ...
379    5.90
380    6.10
381    6.81
382    6.85
383    6.76
Name: Value, Length: 384, dtype: float64

In [8]:
edu[10:14]

    TIME                            GEO  Value
10  2010  European Union (28 countries)   5.41
11  2011  European Union (28 countries)   5.25
12  2000  European Union (27 countries)   4.91
13  2001  European Union (27 countries)   4.99

In [9]:
edu.loc[300]

TIME        2000
GEO      Austria
Value       5.66
Name: 300, dtype: object

## Filtragem

In [ ]:
edu['Value'] > 7.0

In [ ]:
edu[edu['Value'] > 7.0].tail()

## Filtrar valores faltantes

In [ ]:
edu[edu['Value'].isnull()].tail()

## Manipulando dados

Uma vez que sabemos como selecionar os dados desejados, a pr√≥xima coisa que precisamos saber √© como manipular os dados. Uma das coisas mais simples que podemos fazer √© operar com colunas ou linhas usando fun√ß√µes de agrega√ß√£o. A lista a seguir mostra as fun√ß√µes de agrega√ß√£o mais comuns.

| Function  | Description | 
|-----------|-------------|
| count()   |N√∫mero de observa√ß√µes n√£o nulas|  
| sum()     |Soma dos valores|
| mean()    |M√©dia dos valores            | 
| median()  |Mediana dos valores             |
| min()     |valo m√≠nimo|
| max()     |Valor m√°ximo|
| prod()    |Produto dos valores|
| std()     |Desvio padr√£o|
| var()     |Vari√¢ncia|

O resultado de todas essas fun√ß√µes aplicadas a uma linha ou coluna √© sempre um n√∫mero. Enquanto isso, se uma fun√ß√£o for aplicada a um DataFrame ou a uma sele√ß√£o de linhas e colunas, voc√™ pode especificar se a fun√ß√£o deve ser aplicada √†s linhas de cada coluna (colocando a palavra-chave **axis = 0** na chamada fun√ß√£o), ou deve ser aplicado nas colunas de cada linha (colocando a palavra-chave **axis = 1** na chamada da fun√ß√£o).

In [ ]:
edu.max(axis=0)

In [ ]:
print('Pandas max function:', edu['Value'].max())

In [ ]:
s = edu['Value'] / 100
s.head()

Podemos aplicar qualquer fun√ß√£o a um DataFrame ou Series apenas colocando seu nome como argumento do m√©todo *apply*. Por exemplo, no c√≥digo a seguir, aplicamos a fun√ß√£o *sqrt* da biblioteca numpy para calcular a raiz quadrada de cada valor na coluna 'Value'.

In [ ]:
s = edu['Value'].apply(np.sqrt)
s.head()

Se precisarmos aplicar uma fun√ß√£o espec√≠fica, podemos escrever uma fun√ß√£o *in-line*, comumente conhecida como fun√ß√£o-ùúÜ. Uma fun√ß√£o-ùúÜ √© uma fun√ß√£o sem nome. √â necess√°rio apenas especificar os par√¢metros que ela recebe e usar a palavra-chave lambda. No pr√≥ximo exemplo, apenas um par√¢metro √© necess√°rio, que ser√° o valor de cada elemento na coluna 'Value'. O valor que a fun√ß√£o retorna ser√° o quadrado desse valor

In [ ]:
s = edu['Value'].apply(lambda d: d**2)
s.head()

### Normaliza√ß√£o

Outra opera√ß√£o b√°sica de manipula√ß√£o √© definir novos valores em nosso DataFrame. Isso pode ser feito diretamente usando o operador de atribui√ß√£o = em um DataFrame. Isso produzir√° uma nova coluna no DataFrame ap√≥s todas as outras. Voc√™ deve estar ciente de que se j√° existir uma coluna com o mesmo nome, os valores anteriores ser√£o substitu√≠dos. No exemplo a seguir, criamos uma nova colun que resulta da divis√£o da coluna 'Value' pelo valor m√°ximo da mesma, criando uma nova coluna chamada 'ValueNorm'.

In [ ]:
edu['ValueNorm'] = edu['Value'] / edu['Value'].max()
edu.tail()

In [ ]:
edu.drop('ValueNorm', axis=1, inplace=True)
edu.head()

### Concatena√ß√£o de linhas

In [ ]:
edu = edu.append({'TIME': 2000, 'Value': 5.00, 'GEO': 'abc'}, ignore_index=True)
edu.tail()

### Remo√ß√£o de linhas

In [ ]:
edu.drop(max(edu.index), axis=0, inplace=True)
edu.tail()

In [ ]:
eduDrop = edu.dropna(how='any', subset=['Value'], axis=0)
eduDrop.head()

In [ ]:
eduFilled = edu.fillna(value={'Value': 0})
eduFilled.head()

## Ordena√ß√£o

In [ ]:
edu.sort_values(by='Value', ascending=False, inplace=True)
edu.head()

In [ ]:
edu.sort_index(axis=0, ascending=True, inplace=True)
edu.head()

## Agrupamento de dados

In [ ]:
group = edu[['GEO', 'Value']].groupby('GEO').mean()
group.head()

## Reorganizando dados

At√© agora, nossos √≠ndices eram apenas uma numera√ß√£o de linhas sem muito significado. Podemos transformar a disposi√ß√£o de nossos dados, redistribuindo os √≠ndices e colunas para uma melhor manipula√ß√£o dos dados, o que normalmente leva a um melhor desempenho. Podemos reorganizar os dados usando a fun√ß√£o pivot_table. Aqui, podemos especificar quais colunas ser√£o os novos √≠ndices, os novos valores e as novas colunas.

Por exemplo, imagine que queremos transformar nosso DataFrame em uma estrutura semelhante a uma planilha com os nomes dos pa√≠ses como o √≠ndice, enquanto as colunas ser√£o os anos come√ßando em 2006 e os valores ser√£o a coluna 'Valor' anterior. Para fazer isso, primeiro precisamos filtrar os dados e, em seguida, dinamiz√°-los desta forma:

In [ ]:
edu

In [ ]:
filtered_data = edu[edu['TIME'] > 2005]
pivedu = pd.pivot_table(filtered_data, values='Value',
                        index=['GEO'], columns=['TIME'])
pivedu.head()

Agora n√≥s podemos usar o novo √≠ndice para selecionar linhas espec√≠ficas pelo r√≥tulo, usando o operador **loc**.

In [ ]:
pivedu.loc[['Spain', 'Portugal'], [2007, 2008, 2009]]

## Ranqueamento

Outro recurso de visualiza√ß√£o √∫til √© classificar (ranquear) os dados. Por exemplo, gostar√≠amos de saber como cada pa√≠s √© classificado por ano. Para ver isso, usaremos a fun√ß√£o de ranqueamento do pandas. Mas, primeiro, precisamos limpar um pouco nossa tabela para que ela s√≥ tenha pa√≠ses reais com dados reais. Para fazer isso, primeiro eliminamos as entradas da √°rea do Euro e encurtamos a entrada do nome Alemanha, usando a fun√ß√£o renomear e, em seguida, eliminamos todas as linhas contendo qualquer valor nulo, usando a fun√ß√£o dropna.

Agora podemos fazer o ranqueamento. Observe que o par√¢metro **ascending = False** faz a classifica√ß√£o ir dos valores mais altos para os valores mais baixos. A fun√ß√£o de ranqueamento suporta diferentes m√©todos de desempate, especificados com o par√¢metro **method**. No nosso caso, utilizamos o primeiro m√©todo, no qual as classifica√ß√µes s√£o atribu√≠das na ordem em que aparecem no array, evitando lacunas entre as classifica√ß√µes.

In [ ]:
pivedu = pivedu.drop(['Euro area (13 countries)',
                      'Euro area (15 countries)',
                      'Euro area (17 countries)',
                      'Euro area (18 countries)',
                      'European Union (25 countries)',
                      'European Union (27 countries)',
                      'European Union (28 countries)'
                      ], axis=0)
pivedu = pivedu.rename(
    index={'Germany (until 1990 former territory of the FRG)': 'Germany'})
pivedu = pivedu.dropna()
pivedu.rank(ascending=False, method='first').head()

Se quisermos fazer um ranking global levando em considera√ß√£o todos os anos, podemos somar todas as colunas e classificar o resultado. Em seguida, podemos classificar os valores resultantes para recuperar os 5 principais pa√≠ses dos √∫ltimos 6 anos, desta forma:

In [ ]:
totalSum = pivedu.sum(axis=1)
totalSum.rank(ascending=False, method='dense').sort_values()

## Gera√ß√£o de gr√°ficos

DataFrames e Series podem ser plotados usando a fun√ß√£o plot, que usa a biblioteca Matplotlib.

Por exemplo, se quisermos plotar os valores acumulados para cada pa√≠s nos √∫ltimos 6 anos, podemos pegar a S√©rie obtida no exemplo anterior e plotar diretamente chamando a fun√ß√£o plot.

Observe que se quisermos que as barras sejam ordenadas do valor mais alto ao mais baixo, precisamos primeiro classificar os valores na S√©rie. O par√¢metro **kind** usado na fun√ß√£o de plot define que tipo de gr√°fico ser√° usado. No nosso caso, um gr√°fico de barras. O par√¢metro **style** se refere √†s propriedades de estilo do gr√°fico, em nosso caso, a cor das barras √© definida como b (azul). O par√¢metro **alfa** pode ser inclu√≠do por meio de um par√¢metro que define uma porcentagem, produzindo um gr√°fico mais transl√∫cido. Finalmente, usando a palavra-chave **title**, o nome do gr√°fico √© definido.

In [ ]:
fig = plt.figure(figsize=(12, 5))
totalSum = pivedu.sum(axis=1).sort_values(ascending=False)
totalSum.plot(kind='bar', style='b', alpha=0.4,
              title='Valores totais por pais')
plt.savefig('plots/Totalvalue_Country.png', dpi=300, bbox_inches='tight')

Tamb√©m √© poss√≠vel plotar um DataFrame diretamente. Nesse caso, cada coluna √© tratada como uma s√©rie separada. Por exemplo, em vez de imprimir o valor acumulado ao longo dos anos, podemos representar graficamente o valor de cada ano.

Neste caso, usamos um gr√°fico de barras horizontal **(kind = 'barh')** empilhando todos os anos na mesma barra do pa√≠s. Isso pode ser feito definindo o par√¢metro **stacked** como True. O n√∫mero de cores padr√£o em um gr√°fico √© apenas 5, portanto, se voc√™ tiver mais de 5 s√©ries para mostrar, ser√° necess√°rio especificar mais cores ou, caso contr√°rio, o mesmo conjunto de cores ser√° usado novamente. Podemos definir um novo conjunto de cores usando a palavra-chave **color** com uma lista de cores. As cores b√°sicas t√™m um c√≥digo de um √∫nico caractere atribu√≠do a cada uma delas, por exemplo, 'b' para azul, 'r' para vermelho, 'g' para verde, 'y' para amarelo, 'm' para magenta e 'c' para ciano. Quando v√°rias s√©ries s√£o mostradas em um gr√°fico, uma legenda √© criada para identificar cada uma. O nome de cada s√©rie √© o nome da coluna no DataFrame. Por padr√£o, a legenda fica dentro da √°rea de plotagem. Se quisermos alterar, podemos usar a fun√ß√£o de legenda do objeto de eixo (esse √© o objeto retornado quando a fun√ß√£o de gr√°fico √© chamada). Usando a palavra-chave **loc**, podemos definir a posi√ß√£o relativa da legenda em rela√ß√£o ao gr√°fico. Pode ser uma combina√ß√£o de direita ou esquerda e superior, inferior ou central. Com bbox_to_anchor podemos definir uma posi√ß√£o absoluta em rela√ß√£o ao gr√°fico, o que nos permite colocar a legenda fora do gr√°fico.

In [ ]:
my_colors = ['b', 'r', 'g', 'y', 'm', 'c']
ax = pivedu.plot(kind='barh', stacked=True, color=my_colors, figsize=(12, 6))
ax.legend(loc='center left', bbox_to_anchor=(1, 0.5))
plt.savefig('plots/Value_Time_Country.png', dpi=300, bbox_inches='tight')